@font-face { 
  font-family: 'Proximanova';                                   /* IE9 Compat Modes */ 
  src: 
       url('font/ProximaNova-Regular.ttf')  format('truetype');              /* Старые Safari, Android, iOS */ 

  font-weight: normal; 
  font-style: normal; 
}
html{
	height: 100%;
}
body{
	background: linear-gradient(135deg, #0b0d0f 0%,#020303 100%);
	color: white;
	width: 100%;
	height: 100%;
	margin: 0;
  	line-height: 1.55em;
  	letter-spacing: 0;
	font-family:Proximanova, sans-serif;
}

div {

	display: block;
}
h3{
	font-size: 67px;
}
p{
	font-size: 67px;
	font-weight:700;
	line-height: 1.05em;
	margin: 0;
    color: #fff;
    
}
@media screen and (max-width: 1200px){
		p {
	    font-size: 5rem !important;
	}
	.text-block-b p{
	font-size: 60px !important;
}
}

.section {

    max-width: 100%;
   	height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    -webkit-overflow-scrolling: touch;
-moz-overflow-scrolling: touch;
}

.main-screen{
	width: 90%;
   
  	padding: 50px;
	justify-content: space-between;
}

.main-logo{
 	position: absolute;
	max-width:100%;
	
	margin-bottom: 30px;
	bottom: 1%;
	right: 6%;
}

.main-logo img{
	width: 400px;
	display: block;
}

.second-screen{
	width: 100%;
   padding: 0 35px;
 
}

.text-block {

	width: 100%;
	position: relative;

	margin-top: 75px;
	margin-bottom: 75px;
}

.text-block-b {
	width: 100%;
	
	margin-top: 75px;
	margin-bottom: 75px;
}



.social {
	position: block
	margin-top: 50px;
}

.social a{
	color: #5a6472;
	line-height: 1.05em;
	text-decoration: none;
}
.social p{
	color: #5a6472 ;
}

.button-presentation{
	margin-top: 150px;
}

.button-presentation a{
	font-size: 72px;
	 text-decoration: none;
	
}

.button{
	
}

.stroke {
	
	margin-top: 100px;

}

.stroke img {
	position:absolute;
	right: 0;
	bottom: 0;
	
}

.delimiter {
	width: 90%;
	color: white;
	text-align:center;	

}

.popup{
	
	position: relative;
	width: 100%;
	top: 0;
	left: 0;
}

.popup-body{
	min-height: 100%;
	display: flex;
	
	padding: 30px 10px
}

.popup-content{
	width: 70%;
	color: #000;
	
	
}

.popup-content a{
	display: inline-block;

}

.popup-buttons {
	width: 20%;
	margin-left: 10%;
	
}
.w-button {
	width: 156px;
	height: 156px;
	border-radius: 50%;
	border: 3px solid #5a6472;
	margin-top: 45px;
	text-align: center;
	line-height: 156px;
	font-size: 70px;
}
.w-button:active {
	background-color:#5a6472;
}

.sposob-text{
	font-size: 45px !important;
	text-align: left;
}

.textfield {
	padding: 10px 32px;
	margin-top: 50px;
	position: relative;
	border: 3px solid #5a6472;
    border-radius: 999px;
    background-color: transparent;
    font-size: 65px;
    line-height: 24px;
}

.w-input{
	width: 100%;
	height: 130px;
	vertical-align: middle;
}

input{
	 cursor: text;
}

ul {
	list-style: none;
	display: block;
	margin-left: -45px;
}

li {
	display: flex;
	position: relative;
	font-size: 60px;
	margin-top: 50px;
	font-weight: 700;
	color: white;

	line-height: 1.05em;

}

.vmark {
	position: relative;
	display: flex;
	align-self: flex-start;
	width: 80px;
	margin-top: -10px;
}

.basiclist {
	width: 100%;
	 
  }

 .basiclist.item span {
  	display: flex;
  	max-width: 70%;
  }


nav a {
    margin: 10px 0 0 0;
    display: inline-block;
    letter-spacing: 0.5px;
    color: #5a6472;
    font-weight: 400;
    font-size: 3.5rem;
   line-height: 1.55em;
    font-style: normal;
   
	text-decoration: none;	
	    transition: 0.4s ease;
    background-color: transparent;
        box-sizing: inherit;
            -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-font-smoothing: antialiased;

}

nav a ::-webkit-any-link{
	    cursor: pointer
}

.nav-in a:active{
	color: rgba(255, 56, 89, 0.8);
}
nav {
	
	padding-right: 10px;
	
	flex-direction: column;
}

.nav {
	display: block;
	position: absolute;
	bottom: 20px;
	
	width: 85%;
	height: auto;
	
}

