@font-face { 
  font-family: 'Proximanova';                                   /* IE9 Compat Modes */ 
  src: 
       url('font/ProximaNova-Regular.ttf')  format('truetype');              /* Старые Safari, Android, iOS */ 

  font-weight: normal; 
  font-style: normal; 
}
body{
	background: linear-gradient(
135deg
, #0b0d0f 0%,#020303 100%);
	color: white;
	width: 100%;
  	position: relative;
  	line-height: 1.55em;
  	letter-spacing: 0;
	font-family:Proximanova, sans-serif;
}
div {

	display: block;
}
p{
	font-size: 67px;
	font-weight:800;
	line-height: 1.05em;
	margin: 0;
    color: #fff;
    
}
@media screen and (max-width: 1200px){
		p {
	    font-size: 5rem !important;
	}
}

.section {
height: 95vh;
    max-width: 100%;
  
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    -webkit-overflow-scrolling: touch;
-moz-overflow-scrolling: touch;
}

.main-screen{
	width: 90%;
    
  	padding: 0 50px;
	justify-content: space-between;
}

.main-logo{
	max-width:100%;
	margin-top:75px;
	margin-bottom: 30px;
	
}
.main-logo img{
	width: 45%;
	display: block;
	
	
}

.second-screen{
	width: 100%;
   padding: 0 35px;
 
}

.text-block {

	width: 100%;
	position: relative;
	padding-top: 75px;
	padding-bottom: 75px;
}


.social {
	margin-top: 50px;
}

.social a{
	color: #5a6472;
	line-height: 1.05em;
}
.social p{
	color: #5a6472 ;
}

.button-presentation{
	margin-top: 150px;
}

.button-presentation a{
	font-size: 72px;
	 text-decoration: none;
	
}

.button{
	background: #bf2b18;
	border-radius: 100px;
   color: #fff;
     padding:  40px 60px;
   -webkit-tap-highlight-color:  transparent;
    text-align: center;
}



.main-stroke img{
	transform:rotateY(180deg);
	margin-left: -7%;
}

.stroke {
	margin-top: 100px;
}

.stroke img {

	margin-left: 75%;
}

.delimiter {
	width: 90%;
	color: white;
	text-align:center;	

}

.popup{
	
	position: fixed;
	width: 100%;
	height: 100%;
	
	top: 0;
	left: 0;
}

.popup-body{
	min-height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 30px 10px
}

.popup-content{
	background-color: #fff;
	color: #000;
	max-width: 800px;
	padding: 20px;
}

.textfield {
	position: relative;
	    border: 3px solid #000;
    border-radius: 999px;
    background-color: transparent;
    font-size: 65px;
    line-height: 24px;
}

.w-input{
	width: 100%;

	vertical-align: middle;
}

input{
	    cursor: text;
}

ul {
	list-style: none;
	display: block;
	margin-left: -45px;
}

li {
	
	position: relative;
	font-size: 70px;
	
	font-weight: 700;
	color: white;

	line-height: 1.05em;

}
.vmark {
	top:200px;
	width: 80px;
	

}

.basiclist {
	width: 100%;
	 
  }

 .basiclist.item div {
  	
  }


nav a {
    margin: 10px 0 0 0;
    display: inline-block;
    letter-spacing: 0.5px;
    color: #5a6472;
    font-weight: 400;
    font-size: 70px;
    line-height: 1.55em;
        font-style: normal;
	text-decoration: none;	
	    transition: 0.4s ease;
    background-color: transparent;
        box-sizing: inherit;
            -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-font-smoothing: antialiased;

}

nav a ::-webkit-any-link{
	    cursor: pointer
}

.nav-in a:active{
	color: rgba(255, 56, 89, 0.8);
}
nav {
	display: flex;
	padding-right: 10px;
	
	flex-direction: column;
}

.nav {
	position: absolute;
	bottom: 20px;
	
	width: 100%;
	height: auto;
	
}