myteg {
    color: #bf2b18;
}
h2 {
    font-size: 36px !important;
    line-height: 40px !important;
}
h3 {
    font-size: 32px !important;
    line-height: 40px !important;
}
h4 {
    font-weight: 600 !important;
    font-size: 36px !important;
    line-height: 40px !important;
    text-align:center;
}

li {
    font-size: 18px !important;
    line-height: 23px !important;
}

span {
    font-size: 18px !important;
    line-height: 23px !important;
}

.tel-button {
    width: 56px;
    height: 56px;
    margin-right: 10px;
}

    .tel-button a {
        width: 56px;
        height: 56px;
    }
   
.site-button {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
}

    .site-button.w--open {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
    }

    .site-button.closed {
        width: 48px;
        height: 48px;
    }

.site-button {
    position: relative;
    display: block;
    overflow: hidden;
    width: 56px;
    height: 56px;
    margin-right: 0px;
    padding: 13px 0px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
    border-radius: 999px;
    border: 4px solid black;
    background-color: white;
    color: #fff;
    font-size: 16px;
    text-decoration: none;
    text-align:center;
   
}
.wtfs {
    color: #bf2b18;
    font-size: 18px !important;
    line-height: 23px !important;
    text-decoration: underline;
}
    .site-button span {
        color: black;
        font-weight: 800;
        margin-top: auto;
        margin-bottom:auto;
    }


    .word-or {
        margin-bottom: -50px;
        
    }

    .word-or p {
        font-style: italic;
        font-weight: 500 !important;
        font-size: 25px !important;
        
    }

.intro-text-buchgalteria {
    max-width: 1250px;
    margin-bottom: 100px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 100px;
    font-weight: 400;
}



    .intro-header-cetered {
        margin-top: 70px;
        margin-bottom: 30px;
    }

.intro-text-before {
    font-size: 18px !important;
    line-height: 23px !important;
}



.intro-text-buchgalteria li a {
    display: initial;
    color: black;
    font-weight: 400;
    font-size: 20px;
   
}

.intro-text-buchgalteria li::marker {
    color: red;
}

.intro-text-buchgalteria p, li {
    font-size: 30px;
    line-height: 26px;
    color: black;
    font-weight: 400;
   
}

.heading-all-in-contacts.buchgalteria {
    line-height: 50px;
}

@media screen and (max-width: 991px) {
    .intro-text-buchgalteria p, li {
        font-size: 20px;
        line-height: 26px;
    }

    .intro-text-buchgalteria li a {
        font-size: 20px;
    }

    .heading-all-in-contacts.buchgalteria {
        font-size: 40px;
        line-height: 40px;
        font-family: Vollkorn, serif;
    }

    .word-or p {
        font-size: 50px;
        font-weight: 700;
    }
}
/**/
.text-highlight-buchgalteria {
    line-height: 40px;
    text-transform: uppercase;
    color: white;
    font-size: 80px;
    font-weight: 400;
}

@media screen and (max-width: 991px) {
    .text-highlight-buchgalteria {
        font-size: 40px;
       
    }
}

.intro-img-buchgalteria {
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
}

    .intro-img-buchgalteria img {
        max-width: 30%;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 100px;
        margin-top: 70px;
    }

@media screen and (max-width: 991px) {
    .intro-img-buchgalteria img {
        max-width: 100%;
    }
}


/* second */
.section-second {
    background-color: #000f5c;
    padding-bottom: 100px;
}

.second-img-buchgalteria {
    max-width: 90%;
    margin-right: auto;
    margin-left: auto;
}

    .second-img-buchgalteria img {
        max-width: 50%;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 100px;
        margin-top: 70px;
    }

@media screen and (max-width: 991px) {
    .second-img-buchgalteria img {
        max-width: 100%;
    }
}

.second-text-block {
    max-width: 1250px;
    margin-right: auto;
    margin-left: auto;
    font-weight: 400;
}

.what {
    color: white;
    font-family: Vollkorn, serif;
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
}

.second-text-block li {
    font-size: 30px;
    line-height: 26px;
    color: white;
    
}

@media screen and (max-width: 991px) {
    .second-text-block li {
        font-size: 20px !important;
    }
}


.second-footer-text {
    margin-top: 100px;
    text-align: center;
}

    .second-footer-text span {
        font-size: 50px;
        color: white;
        line-height: 50px;
        font-family: Vollkorn, serif;
    }

/*
    third
*/

.about-us-text {
    font-size: 30px;
    line-height: 25px;
}

.to-order-button-area {
}

.price {
    color: white;
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: rgba(0, 15, 92, 1);
    border-radius: 20px;
}
#Button-Express {
   width: 100%;
}

@media screen and (max-width: 991px) {
    .about-us-text {
        font-size: 20px;
        line-height: 25px;
    }

    .section.third {
        margin-top: 60px;
    }
}


.basiclist.item {
    max-width: 100%;
}

.basiclist {
    height: auto;
    flex-wrap: nowrap;
}